@media only screen and (min-width: 768px) {
    /* Format title of graphic */
    .gtitle {font-size: 18px !important;}
    /* Format title of subplots */
    .annotation-text{font-size: 18px !important;
                     margin-bottom: 200px}
    /* Format legend */
    .legendtext {font-size: 14px !important;}
    /* Format 3 x-axis */
    .xtick text{font-size: 12px !important;}
    .x2tick text{font-size: 12px !important;}
    .x3tick text{font-size: 12px !important;}
    .xtitle {font-size: 14px !important;}
    .x2title {font-size: 14px !important;}
    .x3title {font-size: 14px !important;}

    /* Format 4 y-axis */
    .ytick text{font-size: 12px !important;}
    .y2tick text{font-size: 12px !important;}
    .y3tick text{font-size: 12px !important;}
    .y4tick text{font-size: 12px !important;}
    .ytitle {font-size: 14px !important;}
    .y2title {font-size: 14px !important;}
    .y3title {font-size: 14px !important;}
    .y4title {font-size: 14px !important;}

    /* Font Size Pie Chart */
    .slicetext {font-size: 16px !important;}

    #figurePieChartDFI {height: 750px;}
    #figureAddressesDFI {height: 750px;}
    #figureMasternodes {height: 715px}
    #figureDAA {height: 750px}
    #figureCoin {height: 715px}
    #figureChangeCoin {height: 750px}
    #figureCoinsAddresses {height: 600px}
    #figureBlocks {height: 750px}
    #figureBlocktime {height: 750px}
    #figureTransactions {height: 710px}
    #figureCoinprices {height: 715px}
    #figureArbitrageLongterm {height: 675px}
    #figureArbitrageShortterm {height: 675px}
    #figureVolume24hr {height: 750px}
    #figureVolume {height: 690px}
    #figureStabilityDFI {height: 480px}
    #figureStabilityPrice {height: 480px}
    #figureSlippage {height: 525px}
    #figureTVL {height: 715px}
    #figureLiquidityToken {height: 715px}
    #figureLMPaidFees {height: 600px}
    #figureLMPaidCoinFees {height: 680px}
    #figureTokenCryptos {height: 715px}
    #figureTwitterTweet {height: 680px}
    #figureTwitterUser {height: 350px}
    #figureTwitterFollower {height: 715px}
    #figureAnalyticsIncome {height: 725px}
    #figureVisitsIncome {height: 680px}
    #figurePortfolioDownloads {height: 680px}
    #figurePromoDatabase {height: 640px}
    #figureDFXdata {height: 625px}
    #figureDFISignal {height: 635px}
    #figureMarketcap {height: 715px}
    #figureOverallTVL {height: 715px}
}

@media only screen and (max-width: 768px) {
    /* Format title of graphic */
    .gtitle {font-size: 14px !important;}
    /* Format title of subplots */
    .annotation-text{font-size: 14px !important;
                     margin-bottom: 200px}
    /* Format 3 x-axis */
    .xtick text{font-size: 10px !important;}
    .x2tick text{font-size: 10px !important;}
    .x3tick text{font-size: 10px !important;}
    .xtitle {font-size: 12px !important;}
    .x2title {font-size: 12px !important;}
    .x3title {font-size: 12px !important;}

    /* Format 4 y-axis */
    .ytick text{font-size: 10px !important;}
    .y2tick text{font-size: 10px !important;}
    .y3tick text{font-size: 10px !important;}
    .y4tick text{font-size: 10px !important;}
    .ytitle {font-size: 12px !important;}
    .y2title {font-size: 12px !important;}
    .y3title {font-size: 12px !important;}
    .y4title {font-size: 12px !important;}

    /* Font Size Pie Chart */
    .slicetext {font-size: 12px !important;}

    @media (orientation: portrait) {
        #figurePieChartDFI {height: 500px;}
        #figureAddressesDFI {height: 600px;}
        #figureMasternodes {height: 600px}
        #figureDAA {height: 600px}
        #figureCoin {height: 600px}
        #figureChangeCoin {height: 600px}
        #figureCoinsAddresses {height: 600px}
        #figureBlocks {height: 600px}
        #figureBlocktime {height: 600px}
        #figureTransactions {height: 600px}
        #figureCoinprices {height: 600px}
        #figureArbitrageLongterm {height: 600px}
        #figureArbitrageShortterm {height: 600px}
        #figureVolume24hr {height: 600px}
        #figureVolume {height: 600px}
        #figureStabilityDFI {height: 480px}
        #figureStabilityPrice {height: 480px}
        #figureSlippage {height: 480px}
        #figureTVL {height: 600px}
        #figureLiquidityToken {height: 600px}
        #figureLMPaidFees {height: 600px}
        #figureLMPaidCoinFees {height: 600px}
        #figureTokenCryptos {height: 600px}
        #figureTwitterTweet {height: 600px}
        #figureTwitterUser {height: 300px}
        #figureTwitterFollower {height: 600px}
        #figureAnalyticsIncome {height: 600px}
        #figureVisitsIncome {height: 600px}
        #figurePortfolioDownloads {height: 600px}
        #figurePromoDatabase {height: 600px}
        #figureDFXdata {height: 600px}
        #figureDFISignal {height: 600px}
        #figureMarketcap {height: 600px}
        #figureOverallTVL {height: 600px}
        }

    @media (orientation: landscape) {
        #figurePieChartDFI {height: 330px;}
        #figureAddressesDFI {height: 330px;}
        #figureMasternodes {height: 330px}
        #figureDAA {height: 330px}
        #figureCoin {height: 330px}
        #figureChangeCoin {height: 330px}
        #figureCoinsAddresses {height: 330px}
        #figureBlocks {height: 330px}
        #figureBlocktime {height: 330px}
        #figureTransactions {height: 330px}
        #figureCoinprices {height: 330px}
        #figureArbitrageLongterm {height: 330px}
        #figureArbitrageShortterm {height: 330px}
        #figureVolume24hr {height: 330px}
        #figureVolume {height: 300px}
        #figureStabilityDFI {height: 330px}
        #figureStabilityPrice {height: 330px}
        #figureSlippage {height: 330px}
        #figureTVL {height: 330px}
        #figureLiquidityToken {height: 330px}
        #figureLMPaidFees {height: 330px}
        #figureLMPaidCoinFees {height: 330px}
        #figureTokenCryptos {height: 330px}
        #figureTwitterTweet {height: 330px}
        #figureTwitterUser {height: 165px}
        #figureTwitterFollower {height: 330px}
        #figureAnalyticsIncome {height: 330px}
        #figureVisitsIncome {height: 330px}
        #figurePortfolioDownloads {height: 330px}
        #figurePromoDatabase {height: 330px}
        #figureDFXdata {height: 330px}
        #figureDFISignal {height: 330px}
        #figureMarketcap {height: 330px}
        #figureOverallTVL {height: 330px}
        }
}


