
{
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

h1, h2, h3, h4, h5, h6 {
    color: #ff00af
}

/*define the linkstyle of submenu inactive links*/
.sidebarLinkstyle:link{
color: #a6a4a4
}
.sidebarLinkstyle:hover{
background-image: url('rect_pink.png');
color: #000000;
}
.sidebarLinkstyle:visited{
background-image: url('rect_pink.png');
color: #a6a4a4;
}
.sidebarLinkstyle:visited:hover{
background-image: url('rect_pink.png');
color: #000000;
}

/*define the linkstyle of submenu active links*/

.sidebarActivelink:hover{
background-image: url('rect_pink.png');
color: #000000;
}
.sidebarActivelink:focus{
background-image: url('rect_pink.png');
color: #ffffff;
}
.sidebarActivelink:focus:hover{
background-image: url('rect_pink.png');
color: #000000;
}
.sidebarActivelink:visited{
background-image: url('rect_pink.png');
color: #ffffff;
}
.sidebarActivelink:visited:hover{
background-image: url('rect_pink.png');
color: #000000;
}

.navStyle{
    vertical=true;
}

.submenu_linkstyle{
    cursor: pointer;
    margin-left: 0.1rem;
    color: #ffffff;
}

.submenu_linkstyle:hover{
    color: #ff00af;
}

.sidebarActivelink{
    background-color: #000000;
    margin-top: 0.3rem;
    margin-right: 0.7rem;
    background-image: url('rect_pink.png');
    background-size: 100% 100%;
    color: #ffffff;
}


#idLogoDonate:hover{
background-image: url("donateWhiteSidebar.png");
}

#idLogoDonate:focus:hover{
background-image: url("donateWhiteSidebar.png");
}

#idLogoDonate:visited:hover{
background-image: url("donateWhiteSidebar.png");
}

/*for big screens*/
@media only screen and (min-width: 768px) {
    .sidebarLinkstyle{
        background-color: #000000;
        margin-top: 0.3rem;
        margin-right: 0.7rem;
        background-image: url('rect_dark_grey.png');
        background-size: 100% 100%;
        color: #a6a4a4;
    }

    #menuResponsiveCollapse {
       display: block;
    }

    #idLogoSidebar{
        background-image: url("analyticsPortraitTransparency.png");
        background-size: cover;
        width: 14rem;
        height: 14rem;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        background-color: #000000;
    }

    #idLogoDonate{
        background-image: url("donateSidebar.png");
        background-size: cover;
        width: 7.95rem;
        height: 2.5rem;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        background-color: #000000;
    }

    #idVersion{
        width: 14rem;
        text-align: center;
        font-size: 0.75rem;
        margin-bottom: 2rem;
        display: block;
    }

    .contentstyle {
        margin-left: 18rem;
        margin-right: 0rem;
        padding: 1rem 1rem 0rem 1rem;
    }

    .sidebarstyle{
        background-color: #000000;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width:18rem;
        padding: 0.5rem 1rem 2rem 1rem;
        color: #ffffff;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-face-color: #858585;
        scrollbar-width: thin;
        height: 100vh;
    }
    .sidebar_button{
        display: none;
    }

    #menuResponsiveCollapse *:first-child {
        margin-top: 0;
    }
}

/*for small screens*/
@media only screen and (max-width: 768px) {

    .sidebarLinkstyle{
        background-color: #000000;
        margin-top: 0rem;
        margin-right: 0.7rem;
        background-image: url('rect_dark_grey.png');
        background-size: 100% 100%;
        color: #a6a4a4
    }

    .sidebarstyle{
        background-color: #000000;
        padding: 1rem 1rem;
        width: 100%;
        color: #ffffff;
    }

    .contentstyle {
        margin-left: 0;
        margin-top: 0.5rem;
        padding: 0.5rem 1rem 0rem 1rem;
    }

    .sidebar_button{
        display: block;
        background-image: url('menu_button.png');
        background-size: 100% 100%;
        background-color: #000000;
        height:30px;
        width:55px;
        border: 0 none;
    }

    .sidebar_button:focus{
        outline: none;
    }

    #idLogoSidebar{
        content: url('analyticsLandscapeTransparency.png');
        height: 45px;
    }

    #idLogoDonate{
        content: url('donateSidebar.png');
        height: 30px;
    }

    #idVersion{
        text-align: center;
        font-size: 0.6rem;
        margin-bottom: 0rem;
        display: block;
    }

    #menuResponsiveCollapse *:first-child {
        margin-top: 0.3rem;
    }

}