
{
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

h1, h2, h3, h4, h5, h6 {
    color: #ff00af
}

/*define the linkstyle of submenu inactive links*/
.linkstyle:link{
color: #a6a4a4
}
.linkstyle:hover{
background-image: url('rect_pink.png');
color: #000000;
}
.linkstyle:focus{
background-image: url('rect_pink.png');
color: #ffffff;
}
.linkstyle:active{
background-image: url('rect_pink.png');
color: #ffffff;
}

/*define the linkstyle of submenu active links*/
.activelink:link{
color: #a6a4a4
}
.activelink:hover{
background-image: url('rect_pink.png');
color: #000000;
}
.activelink:focus{
background-image: url('rect_pink.png');
color: #ffffff;
}
.activelink:focus:hover{
background-image: url('rect_pink.png');
color: #000000;
}
.activelink:active{
background-image: url('rect_pink.png');
color: #ffffff;
}

.navStyle{
    vertical=true;
}

.submenu_linkstyle{
    cursor: pointer;
    margin-left: 0.1rem;
}

.activelink{
    background-color: #000000;
    margin-top: 0.3rem;
    margin-right: 0.7rem;
    background-image: url('rect_pink.png');
    background-size: 100% 100%;
    color: #ffffff;
}

/*for big screens*/
@media only screen and (min-width: 768px) {
    .linkstyle{
        background-color: #000000;
        margin-top: 0.3rem;
        margin-right: 0.7rem;
        background-image: url('rect_dark_grey.png');
        background-size: 100% 100%;
        color: #a6a4a4
    }

    #menuResponsiveCollapse {
       display: block;
    }

   .logo_sidebar{
        content: url('logo-defi-analytics.png');
        width: 14rem;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        background-color: #000000;
    }

    .contentstyle {
        margin-left: 18rem;
        margin-right: 0rem;
        padding: 2rem 1rem 0rem 1rem;
    }

    .sidebarstyle{
        background-color: #000000;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width:18rem;
        padding: 0.5rem 1rem;
        color: #ffffff;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-face-color: #858585;
        scrollbar-width: thin;
        height: 100vh;
    }
    .sidebar_button{
        display: none;
    }

    #menuResponsiveCollapse *:first-child {
        margin-top: 0;
    }
}

/*for small screens*/
@media only screen and (max-width: 768px) {

    .linkstyle{
        background-color: #000000;
        margin-top: 0rem;
        margin-right: 0.7rem;
        background-image: url('rect_dark_grey.png');
        background-size: 100% 100%;
        color: #a6a4a4
    }

    .sidebarstyle{
        background-color: #000000;
        padding: 1rem 1rem;
        width: 100%;
        color: #ffffff;
    }

    .contentstyle {
        margin-left: 0;
        margin-top: 0.5rem;
        padding: 0.5rem 1rem 0rem 1rem;
    }

    .sidebar_button{
        display: block;
        background-image: url('Menu.png');
        background-size: 100% 100%;
        background-color: #000000;
        height:30px;
        width:55px;
        border: 0 none;
    }

    .logo_sidebar{
        content: url('logo-defi-analytics_LandscapePink.png');
        height: 35px;
    }

    #menuResponsiveCollapse *:first-child {
        margin-top: 0.3rem;
    }

}