
{
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

h1, h2, h3, h4, h5, h6 {
    color: #ff00af
}

a:link{
color: #a6a4a4
}
a:hover{
background-image: url('rect_pink.png');
color:#000000;
}
a:focus{
background-image: url('rect_pink.png');
color: #ffffff;
}
a:active{
background-image: url('rect_pink.png');
color: #ffffff;
}

.sidebarstyle{
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width:18rem;
    padding: 0.5rem 1rem;
    color: #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-face-color: #858585;
    scrollbar-width: thin;
    height: 100vh;
}


.navStyle{
    vertical=true;
}

@media only screen and (max-width: 768px) {
    .sidebarstyle{
        background-color: #000000;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width:18rem;
        padding: 0.5rem 1rem;
        color: #ffffff;
    }

    .navbar-toggler-icon {
      background-image: url("rect_pink.png");
    }

    sidebar {
      text-align: center;
      padding: 2rem 1rem;
      background-color: #f8f9fa;
    }

    #menu_collapse *:first-child {
      margin-top: 1rem;
    }

}

.submenu_linkstyle{
    cursor: pointer;
    margin-left: 0.1rem;
}

.linkstyle{
    background-color: #000000;
    margin-top: 0.3rem;
    margin-right: 0.7rem;
    background-image: url('rect_dark_grey.png');
    background-size: 100% 100%;
    color: #a6a4a4
}
.activelink{
    background-color: #000000;
    margin-top: 0.3rem;
    margin-right: 0.7rem;
    background-image: url('rect_pink.png');
    background-size: 100% 100%;
    color: #ffffff;
}

.contentstyle {
    margin-left: 18rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
}

.logo_sidebar{
    width: 14rem;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: #000000;
}

#toggle {
    display: none;
  }

#menu_collapse {
  display: block;
}

#menu_collapse *:first-child {
  margin-top: 0;
}